# Environment Name
NODE_ENV=development

# Server listen to this port
PORT=3000

# Database
MONGO_DB=mongodb://mongo:27017/calculator

#AUTH
JWT_SECRET=tRsrsT+.j?S+#\7(p!nNWPefYF"jBe)=,eKup>Juj>_n`2]Y[wr$S%pCSvLWgYXgCPMr/\:\{(^(F8LWzWy^#$G\4kS_Hq)BH!,fypuM':ab'sP{:e*tE<;7MUytMJCS
JWT_EXPIRES_IN=3600000